#carrito {
    cursor: pointer;
    width: 30px;
    margin-left: 10px;
}

#Access {
    margin-left: 10px;
}

.checked {
    color: orange;
}

section {
    padding: 10px 0;
}

#footer {
    background: #323232 !important;
}

#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
}

#Pegado{
    margin-left: 70%;
}

#exampleModalLabel{
    margin-left: 20%;
}


@media screen and (max-width: 850px){

    #exampleModalLabel{
       margin-left: 0%;
    }

    #Pegado{
        margin-left: 38%;
        
    }

    

}